*{
    padding: 0;
    margin: 0;
}

/* main container */
.main_cont{
   text-align: center;
   /* border: 2px solid black; */
   background-color: #FFE5F1;
   height: 100vh;
}
/* content */
.content{
    padding: 70px 0;
    text-align: center;
    
   background-color: #FFE5F1;
   color: black;
}
/* toggler */
.toggler{
    font-size: 1.4rem;
}
/* list */
.list{
    font-size: 1.5rem;
}